.container {
    background-color: rgb(236, 236, 236);
}

.cont-header {
    text-align: center;

}

.button-cont {
    text-align: center;
    margin-top: 8px;
}

.box {
    float: left;
    width: 33%;
    height: 150px;
    text-align: center;
    margin-right: 2px;
    margin-left: 2px;
}

.bg-green-1 {
    background-color: #7EE5DA;
}

.bg-green-2 {
    background-color: #70CCC2;
}

.bg-green-3 {
    background-color: #62B3AA;
}

input {
    margin: 0%;
}
